<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="the personal web site of yonas zaid misghina . he is a computer engineer from africa">
  <meta name="author" content="">
  <title>Yonas Misghina</title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/animate.min.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/lightbox.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">
  <link id="assets/css-preset" href="assets/css/presets/preset1.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="assets/images/eritrea_flag.ico">
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(assets/images/slider/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">I am <span>Developer</span></h1>
            <p class="animated fadeInRightBig"></p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about-us">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/images/slider/2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">I Am  <span>Human</span></h1>
            <p class="animated fadeInRightBig"></p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about-us">Start now</a>
          </div>
        </div>
        <div class="item" style="background-image: url(assets/images/slider/hab.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">I Am <span>Hope Full</span></h1>
            <p class="animated fadeInRightBig"></p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="#about-us">Start now</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>


    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1><img class="img-responsive" src="assets/images/yz.png" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a href="#home">Home</a></li>
            <li class="scroll"><a href="#about-us">About Me</a></li>
            <li class="scroll"><a href="assets/resume/yonas_misghina.docx(1).pdf" download>Resume</a></li>
            <li class="scroll"><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Who is this Guy????</h2>
            <p>A man who never get tired of smiling. He is just the kind of guy who likes to smile. </p>
           <p>My name is Yonas Zaid Misghina. I am a writer and  software developer. I usually use java ,C# , Golang,
               HTML5 , CSS, javaScript,JQuery,Node js, angular js, React js and more. </p>
            <p>I really believe that technology is difficult to use than to create. think and create that is all and that is the best line where to begin with.</p>
      <p> I work relentlessly and looking for the best.I never give up that is why I believe I am unbeateable. </p>
            <p>In my spare time I would like to write poem ,reading books ,watching movies and going for social gatherings.<p>
              <p> At last but not least I am an activist for peace , democracy and justice around the world</p>
            <p>Now, you have a clue about me but to know more just click the resume tab ..</p>
            <p><i>thank you for visiting</i> ..</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="assets/images/yanni.jpg" alt="yanni">
          </div>
        </div>
      </div>
    </div>
  </section><!--/#about-us-->


  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Me</h2>
            <p>We all need people who will give us feedback. That's how we improve.</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
                 <img src="assets/images/3.jpg"/>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Please do not hesitate to contact me.I do not have office hours for you. I am available 24/7 to hear from you.choose the convinient one..</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span> 1302 E yesler way Seattle WA 98122 </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +206 739 3072  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:zaidyonaz@gmail.com"> zaidyonaz@gmail.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.yanni_zaid.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="index.html"><img class="img-responsive" src="images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="https://www.gmail.com"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/yonaszaid"><i class="fa fa-facebook"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tumblr" href="#"><i class="fa fa-tumblr-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="assets/js/jquery.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="assets/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="assets/js/wow.min.js"></script>
  <script type="text/javascript" src="assets/js/mousescroll.js"></script>
  <script type="text/javascript" src="assets/js/smoothscroll.js"></script>
  <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="jassets/s/lightbox.min.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>
