.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
    font-size:20px;
  }
#bootsrap{

  width: 600px;
  height: 250px;
  margin: auto;
  background-image: url('water.jpg');
  margin-bottom: 100px;
}
body{
  background-color: #FDEDEC ;
    background-image: url('water.jpg');
}
.steve{
  background-color: #FDEDEC ;
  width: 400px;
  margin-top: 200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 30px;
  font-family: "Times New Roman", Georgia, serif;
  font-style: italic;
  font-size: 20px;
background-color:#85C1E9  ;

}
