<div  class="steve">
  <p>
    My name is <strong>Yonas</strong> Zaid<strong> Misghina</strong>. I am a software developer. i usually use java
    ,C# , Golang, HTML5 , CSS, javaScript,JQuary,Node js, angular js, React js
    and so much others.<br/>
    I really believe that technoloyg is difficult to use than to create.
    think and create that is all and that is the best line where to begin with .
   <br/>
    download my <a href="assets/resume/yonas_misghina.docx.docx">resume</a> and know more about me .<br/>
    thank-you so much<br/>
<strong>    Eng. Yonas Zaid Misghina</strong>
  </p>
</div>
